<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bg-light">  <!--background light-->
<div class="container-fluid"> <!--    контейнер полной ширины, охватывающего всю ширину области просмотра-->
    <div class="row">
        <div class="col bg-dark">  <!-- полоска во всю ширину -->
            <nav class="navbar navbar-light bg-dark">
                 <span class="navbar-text text-white">
                     <b> <td th:utext="${user.name}"></td></b>
                     <td>with roles:</td>
                     <td th:utext="${user.roles}"></td>
                 </span>
                <a class="nav-link text-secondary font-weight-bold  text-right" href="/logout">Logout</a>
            </nav>
        </div>
    </div>

    <div class="row h-100">
        <div class="col-2  bg-white list-group">
            <ul class="nav nav-tabs my-2 flex-column nav-pills">
                <!-- flex-column класс для создания вертикальной навигации nav-pills - вкладки таблетки -->
                <li class="nav-item" id="blockMenuForAdmin">
                    <a class="nav-link active" data-toggle="tab" href="#main1">Admin</a> <!-- Чтобы сделать вкладки переключаемыми, добавьте data-toggle="tab"-->
                </li><!-- Затем добавьте .tab-pane класс с уникальным идентификатором для каждой вкладки и оберните их внутри <div>элемента с классом .tab-content.-->
                <li class="nav-item" id="blockMenuForUser">
                    <a class="nav-link" id="menuUser" data-toggle="tab" href="#main2">User</a>
                </li>
            </ul>
        </div>

        <div class="col my-3 mx-3 tab-content">

            <div class="tab-pane active" id="main1"><h2>Admin panel</h2>
                <ul class="nav nav-tabs"> <!--  навигационные вкладки с .nav-tabs -->
                    <li class="nav-item">
                        <a class="nav-link active" id="usersTable" data-toggle="tab" href="#tab1">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newUser" data-toggle="tab" href="#tab2">New User</a>
                    </li>
                </ul>

                <div class="row tab-content">
                    <div class="col mx-3 border border-light bg-light tab-pane in active" id="tab1">
                        <h5>All users</h5>

                        <div class="row bg-white">
                            <div class="col my-3">
                                <table class="table table-striped">
                                    <!-- Класс .table-striped добавляет зебра-полоску к любой строке таблицы в tbody (недоступно в IE8) -->
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <!--  Текст в элементах <th> по умолчанию выделен жирным шрифтом и центрирован.   -->
                                        <th scope="col">Name</th>
                                        <!--   <th scope="col|row|colgroup|rowgroup"> -->
                                        <th scope="col">Street</th>
                                        <!-- Атрибут области указывает, является ли ячейка заголовка заголовком для столбца, строки или группы столбцов или строк. -->
                                        <th scope="col">Age</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table">

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <!-- Form for add User -->
                    <div class="col tab-pane mx-3 border border-light bg-light" id="tab2" >
                        <h5>Add new user</h5>

                        <form class="formAddUser">
                            <div class="row  bg-white">
                                <div class="col-4 mx-auto text-center font-weight-bold">
                                    Name
                                    <input type="text" name="name" id="addName" class="form-control"></div>
                            </div>
                            <div class="row  bg-white">
                                <div class="col-4 mx-auto text-center font-weight-bold my-2">
                                    Age
                                    <input type="number" step="1" min="0" name="age" id="addAge" class="form-control"></div>
                            </div>
                            <div class="row  bg-white">
                                <div class="col-4 mx-auto text-center font-weight-bold">
                                    Street
                                    <input type="text" name="street" id="addStreet" class="form-control"></div>
                            </div>
                            <div class="row  bg-white">
                                <div class="col-4 mx-auto text-center font-weight-bold my-2">
                                    Password
                                    <input type="password" name="password" id="addPassword" class="form-control"></div>
                            </div>
                            <div class="row bg-white">
                                <div class="col-4 mx-auto text-center font-weight-bold">
                                    Role
                                    <label><select id="addRole" name="roleAdd">-->
                                        <option value="ADMIN" th:text="ADMIN"></option>
                                        <option value="USER" th:text="USER"></option>
                                    </select></label>
                                </div>
                            </div>
                            <div class="row bg-white">
                                <button type="button" class="col-4 mx-auto text-center btn btn-success addUser my-2">Add new user
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="main2">
                <h2>User information-page</h2>

                <div class="row">
                    <div class="col mx-3 border border-light bg-light">
                        <h5>About user</h5>

                        <div class="row bg-white">
                            <div class="col my-3">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Street</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="userTable">
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit-->
<!--<div>-->
<form class="formEditUser">
    <div id="myModalEdit" class="modal fade" role="dialog">
        <!--  fadeКласс добавляет эффект перехода , который затухает  Атрибут role="dialog"улучшает доступность для людей, использующих программы чтения с экрана.-->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <!-- .modal-dialogКласс устанавливает правильную ширину и запас модальный-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>   <!--  Крестик(закрытие) &times;-->
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold">
                            ID     <!--   ID должен быть не активный!!  readonly disabled -->
                            <input type="number" name="id" id="idInput" readonly class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold my-2">
                            Name
                            <input type="text" name="name" id="nameInput" class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold my-2">
                            Age
                            <input type="number" name="age" id="ageInput" class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold">
                            Street
                            <input type="text" name="street" id="streetInput" class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold my-2">
                            Password
                            <input type="password" name="password" id="passwordInput" class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold">
                            Role
                            <label><select id="roleEdit" name="roleEdit">-->
                                <option value="ADMIN" th:text="ADMIN"></option>
                                <option value="USER" th:text="USER"></option>
                            </select></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary editUser" data-dismiss="modal">
                        Edit
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>
<!--</div>-->

<!-- Modal Delete-->
<form>
    <div id="myModalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDelete">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold">
                            ID
                            <input type="number" name="id" id="id" readonly class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold my-2">
                            First name
                            <input type="text" name="name" id="name" readonly class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold">
                            Age
                            <input type="text" name="age" id="age" readonly class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold my-2">
                            Street
                            <input type="text" name="street" id="street" readonly class="form-control"></div>
                    </div>
                    <div class="row  bg-white">
                        <div class="col-6 mx-auto text-center font-weight-bold">
                            Role
                            <select class="form-control" name="roles" readonly size="2">
                                <option>ADMIN</option>
                                <option>USER</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger deleteUser" data-dismiss="modal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/webjars/jquery/3.5.0/jquery.min.js"></script>
<script src="/webjars/popper.js/2.0.2/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap-multiselect/0.9.15/dist/js/bootstrap-multiselect.js"></script>
<script src="/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"></script>

<script>

    $(document).ready(getAllUsers());

    // Для отображения списка пользователей в таблице
    function getAllUsers() {
        $("#table").empty();
        $.ajax({
            type: 'GET',
            url: '/admin/rest',
            // timeout: 3000, // сработает через 3с
            success: function (data) {
                console.log(data);
                $.each(data, function (i, user) { // из полученных данных проходим по всем элементам
                    $('#table').append($('<tr>').append(
                        $('<td>').append($('<span>')).text(user.id), //Установить текстовое содержимое для всех элементов <span>
                        $('<td>').append($('<span>')).text(user.name), // firstname
                        $('<td>').append($('<span>')).text(user.street),
                        $('<td>').append($('<span>')).text(user.age),
                        $('<td>').append($('<span>')).text(user.roles),
                        $('<td>').append($('<button>').text("Edit").attr({ //Метод attr () устанавливает или возвращает атрибуты и значения выбранных элементов.
                            "type": "button",  // .attr(attribute,value)
                            "class": "btn btn-info edit",
                            "data-toggle": "modal",
                            "data-target": "#myModalEdit",
                        }).data("user", user)), //data(name,value) возращает данные из выбранного элемента(здесь button)
                        $('<td>').append($('<button>').text("Delete").attr({
                            "type": "button",
                            "class": "btn btn-danger delete",
                            "data-toggle": "modal",
                            "data-target": "#myModalDelete",
                        }).data("user", user))
                    ))
                });
            }
        });
    }

    //Для редактирования пользователя через модальное окно
    $(document).on("click", ".edit", function () {
        let user = $(this).data('user');
        $('#nameInput').val(user.name);
        $('#streetInput').val(user.street);
        $('#idInput').val(user.id);
        $('#ageInput').val(user.age);
        $('#passwordInput').val(user.password);

    });

    $(document).on("click", ".editUser", function () {
        let editUser = {};
        editUser.id = $('#idInput').val();
        editUser.name = $('#nameInput').val();
        editUser.age = $('#ageInput').val();
        editUser.street = $('#streetInput').val();
        editUser.password = $('#passwordInput').val();
        editUser.roles = getCheckedRoles( $('#roleEdit').val());

        $.ajax({
            type: 'POST',
            url: '/admin/edit',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(editUser),
            success: function () {
                getAllUsers();
            }
        });
    });

    //Для удаления пользователя через модальное окно
    $(document).on("click", ".delete", function () {
        let user = $(this).data('user');
        $('#id').val(user.id);
        $('#name').val(user.name);
        $('#street').val(user.street);
        $('#age').val(user.age);
        $('#role').val(user.roles);
        $('#password').val(user.password);

        $(document).on("click", ".deleteUser", function () {
            $.ajax({
                type: 'GET',
                url: '/admin/delete/',
                data: { 'id': user.id },
                success: function () {
                    getAllUsers();
                },
                error: function(xhr) {
                    console.log(error);
                }
            });
        });

    });

    // Для добавления пользователя
    $('.addUser').click(function () {
        $('#usersTable').trigger('click');

        let addUser = {};
        addUser.name = $('#addName').val();
        addUser.age = $('#addAge').val();
        addUser.street = $('#addStreet').val();
        addUser.password = $('#addPassword').val();
        addUser.roles = getCheckedRoles($('#addRole').val());

        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/admin/add',
            data: JSON.stringify(addUser),
            // timeout: 100,
            success: function () {
                $('.formAddUser')[0].reset(); // очищает форму
                getAllUsers();
            }
        });
    });
    //Для отображения информации о пользователе на его странице и сокрытия меню в зависимости от роли
    // $(document).ready(function () {
    $(function () {
        $("#userTable").empty(); // Удалить содержимое всех элементов блока с id = "table"
        $.ajax({
            type: 'GET',
            url: '/user/getUser',
            // timeout: 3000,
            error: function () {
                $('#blockMenuForUser').hide();
            },
            success: function (data) {
                console.log(data);
                $.each(data, function (i, user) {
                    if (user.roles === "USER") {
                        $('#menuUser').trigger('click');
                        $('#main2').trigger('click');
                        $('#blockMenuForAdmin').hide();
                    }
                    $('#userTable').append($('<tr>').append(
                        $('<td>').append($('<span>')).text(user.id),
                        $('<td>').append($('<span>')).text(user.name),
                        $('<td>').append($('<span>')).text(user.age),
                        $('<td>').append($('<span>')).text(user.street),
                        $('<td>').append($('<span>')).text(user.roles)
                    ))
                });
            }
        });
    });

    function getCheckedRoles(roleName) {
        alert(roleName);
        let roles = [];
        let role = {};

        if (roleName === "ADMIN") {
            role.id = "1";
        } else if (roleName === "USER") {
            role.id = "2";
        }

        alert(role.id);

        roles.push(role);
        return roles;
    }


</script>

</body>
</html>